* {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

section {
    padding: 1rem;
    background: rgb(56, 121, 243);
}

img {
    width: 100%;
}

.menu{
    list-style: none;
    background-color: rgb(20, 20, 20);
    color: aliceblue;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    pointer-events: painted;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    margin: 0;
}
.menu a{
    color: aliceblue;
    text-decoration: none;
}

.red {
    color: aliceblue;
    background-color: rgb(255, 30, 0);
}